{% extends 'layouts/main.html' %}
{% block title %}Fyyur{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1>Fyyur 🔥</h1>
		<p class="lead">Where musical artists meet musical venues.</p>
		<h3>
			<a href="/venues"><button class="btn btn-primary btn-lg">Find a venue</button></a>
			<a href="/venues/create"><button class="btn btn-default btn-lg">Post a venue</button></a>
		</h3>
		<h3>
			<a href="/artists"><button class="btn btn-primary btn-lg">Find an artist</button></a>
			<a href="/artists/create"><button class="btn btn-default btn-lg">Post an artist</button></a>
		</h3>
		<p class="lead">Publicize about your show for free.</p>
		<h3>
			<a href="/shows/create"><button class="btn btn-default btn-lg">Post a show</button></a>
		</h3>
	</div>
	<div class="col-sm-6 hidden-sm hidden-xs">
		<img id="front-splash" src="{{ url_for('static',filename='img/front-splash.jpg') }}" alt="Front Photo of Musical Band" />
	</div>
</div>
<br>
<br>

<div class="row">
	<div style=" width:50%; background-color:#eeeeee; text-align:center">
		<h3>Recent Artists and Venues</h3>
	</div>


 <span class="col-sm-3" style="background-color:#ffffff; margin:15px">
	<div style="margin:auto; width:80%; color:red">
		<h3>Recent Venues</h3>
	</div>

{% for area in areas1 %}
<h4>{{ area.time }}, {{ area.state }}</h4>
	<ul class="items">
		{% for venue in area.venues %}
		<li>
			<a href="/venues/{{ venue.id }}">
				<i class="fas fa-music"></i>
				<div class="item">
					<h5> ({{ venue.id }}) {{ venue.name }}</h5>
				</div>
			</a>
		</li>
		{% endfor %}
	</ul>
{% endfor %}
</span>


 <span class="col-sm-3" style="background-color:#f2f2f2; margin:15px">
	<div style="margin:auto; width:80%; color:orange">
		<h3>Recent Artists</h3>
	</div>
{% for area in areas2 %}
<h4>{{ area.time }}, {{ area.state }}</h4>
	<ul class="items">
		{% for venue in area.venues %}
		<li>
			<a href="/venues/{{ venue.id }}">
				<i class="fas fa-music"></i>
				<div class="item">
					<h5> ({{ venue.id }}), {{ venue.name }}</h5>
				</div>
			</a>
		</li>
		{% endfor %}
	</ul>
{% endfor %}
</span>
 <span class="col-sm-3" style="visibility:hidden">
 </span>
  <span class="col-sm-3" style="visibility:hidden">
  </span>
</div>
{% endblock %}
